body {
    background-color: #dedee5;
}

div.footer {
    color: rgba(0, 0, 0, .5);
    font-size: 9px;
    text-align: right;
    position: fixed;
    bottom: 0px;
    padding: 5px;
}

.color {
    background-color: lightblue;
}

.color2 {
    background-color: blue;
}

.color3 {
    background-color: white;
}

.color4 {
    background-color: grey;
}
