body {
    background-color: #dedee5;
}

div.footer {
    color: rgba(0, 0, 0, .5);
    font-size: 9px;
    text-align: right;
    position: fixed;
    bottom: 0px;
    padding: 5px;
}

.color {
    background-color: #a8d8e0;
}

.color2 {
    background-color: #dedee6;
}

.color3 {
    background-color: #ffffff;
}

.color4 {
    background-color: #ffffff;
}
/*
.row {
    border-width: 5px;
    border-style: solid;
}
*/
form {
    padding: 10px;
}
form p {
    display: inline;
    padding-right: 10px;
}

form #submitName {
    background-color: #08075b;
    color: #ffffff;
    border-radius: 5px;
    padding: 8px 10px 8px 10px;
}


div.btn-group button{
    background-color: #08075b;
}

div.btn-group button:hover {
    background-color: #a8d8e0;
}
